@tailwind base;
@tailwind components;
@tailwind utilities;


/* .Navbar_navbar__fk_p7 {
  display: none !important;
} */


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #d4af37;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f0c84b;
}

::selection {
  background: #d4af37;
  color: #000;
}